/*Import the 3 fonts to be used: Gorditas, Roboto Mono and maitree*/
@import url('https://fonts.googleapis.com/css2?family=Gorditas&display=swap');
/*font-family: 'Gorditas', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
/*font-family: 'Roboto Mono', monospace;*/
@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200&display=swap');
/*font-family: 'Maitree', serif;*/
html{
    margin: o;
    padding: o;
}
body{
    height: 100%;
    background-color: #c4c4c4; /*greyish*/
    display: block;
}
.w220{
    width: 220px;
}
.h50{
    height: 50px;
}
.w220{
    margin-left: 8px;
    margin-top: 20px;
}
header{
    background-color: #f8f8f8;
    position: fixed;
    width: 100%;
    margin: -7px;
    box-shadow: 1px 1px 4px 1px #475B55;
}