/*Import the 3 fonts to be used: Gorditas, Roboto Mono and maitree*/
@import url('https://fonts.googleapis.com/css2?family=Gorditas&display=swap');
/*font-family: 'Gorditas', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
/*font-family: 'Roboto Mono', monospace;*/
@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200&display=swap');
/*font-family: 'Maitree', serif;*/
html{
    margin: o;
    padding: o;
    box-sizing: border-box;
}
body{
    height: 100%;
    background-color: #c4c4c4; /*greyish*/
    display: block;
}
.w220{
    width: 220px;
}
.h50{
    height: 50px;
}
.w220{
    margin-left: 8px;
    margin-top: 20px;
}
header{
    background-color: #f8f8f8; /*for the header container*/
    position: fixed; 
/*must go hand in hand with the position fixed, position set at fixed constrains the container to the contents only*/ 
    width: 100%;
/*This makes the header box container flow inwards so as to remove the visible margins*/
    margin: -7px;
/*darkish in nature for the shadow*/
    box-shadow: 1px 1px 4px 1px #475B55; 
}
/*Style up the nav container*/
nav ul{
    list-style: none;
    display: block;
    float: right;
    clear: both;
    margin-right: 80px;
    margin-top: -50px;
    padding-bottom: 18px;
}
ul{
    margin: 0px;
    padding: 0px; 
}
/*Style up the li tags*/
nav ul li{
    float: left;
    margin-left: 20px;
    position: relative;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    font-weight: 800;
}
nav ul li a{
    color: #000;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 20px;
    text-decoration: none;
}
